/* ANTD */

/* CUSTOM */

.siderFooter {
  position: fixed;
  bottom: 0;
  width: 200px;
}

.fullMinHeight {
  min-height: 100vh;
}

.fullWidth {
  width: 100%;
}

.justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;  
}