/* ANTD */

/* CUSTOM */

.siderFooter {
  position: fixed;
  bottom: 0;
  width: 200px;
}

.fullMinHeight {
  min-height: 100vh !important;
}

.fullWidth {
  width: 100%;
}

.justifyCenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;  
}

.textCenter,
#signin-form {
  text-align: center;
}

#signin-form .signin-form {
  max-width: 300px;
}
#signin-form .signin-form-remember {
  float: left;
}
#signin-form .signin-form-forgot {
  float: right;
}
#signin-form .signin-form-button {
  width: 100%;
}